title{
  background-color: blueviolet;
}

body {
  font-family: 'Play';
  background-color: lightseagreen;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Play';
  text-emphasis-color: red;
  
}
.Navbar{
  background-color: purple;
  justify-content: center;
}
 form.control{
   font-weight: 800;
   background-color: orange;
   

 }

 
.small {
  font-weight: 300;
}
